<ul class="nav flex-column">
  <li class="nav-item">
    <a class="nav-link text-white" href="{{ url_for('teacher_bp.dashboard_bp.dashboard') }}">ðŸ  Dashboard</a>
  </li>
  <li class="nav-item">
    <a class="nav-link text-white" href="{{ url_for('teacher_bp.tests') }}">ðŸ“„ Tests</a>
  </li>
  <li class="nav-item">
    <a class="nav-link text-white" href="{{ url_for('teacher_bp.settings') }}">âš™ï¸ Settings</a>
  </li>
  <li class="nav-item">
    <a class="nav-link text-white" href="{{ url_for('teacher_bp.auth_bp.logout') }}">ðŸšª Logout</a>
  </li>
</ul>



